<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
	 <test name="Test1">
	      <parameter name="deviceName_" value="Tecno J8"/>
		  <parameter name="UDID_" value="0153801730301908"/>
		  <parameter name="platformVersion_" value="5.1"/>
		  <!-- <parameter name="URL_" value="192.168.1.167:4723/wd/hub"/> -->
		  <!-- <parameter name="URL_" value="0.0.0.0:4723/wd/hub"/> -->
		  <classes>
		 	<class name="appium_Package.TestngTecno"/>
<!-- 		 	<class name="appium_Package.TestngSamsung"/> -->
		 </classes>
	 </test> <!-- Test1 -->
	 
</suite> <!-- Suite -->